---
const { title, date, url, tags, readTime, description, isGeometric = false } = Astro.props;
import IconChevronRight from "../assets/icons/chevron-right.svg";
import IconArrowRight from "../assets/icons/arrow-right.svg";
import IconCalendarWeek from "../assets/icons/calendar-week.svg";
import IconClockHour3 from "../assets/icons/clock-hour-3.svg";
---

<a
  href={url}
  class:list={[
    "group flex h-full flex-col gap-3 pb-3 transition-all select-none",
    !isGeometric && "hover:bg-accent hover:ring-accent ring-background rounded-lg shadow-lg ring-3 hover:shadow-none hover:ring-3 active:ring-0 dark:shadow-2xl",
    isGeometric && "hover:bg-accent ring-0 rounded-none bg-transparent",
  ]}
>
  <div class="mx-4 mt-2 flex justify-between gap-6">
    <h3
      class="text-foreground group-hover:text-background animation animation self-start rounded-lg text-xl opacity-90 group-hover:font-semibold group-hover:tracking-wide"
    >
      {title}
    </h3>
    <div class="mt-1 flex">
      <IconArrowRight
        class="stroke-background animation size-0 stroke-2 group-hover:size-6"
      />
      <IconChevronRight
        class="stroke-foreground animation size-6 stroke-1 group-hover:size-0"
      />
    </div>
  </div>
  {description && (
    <div class="mx-4">
        <p class="text-sm text-foreground opacity-70 mb-2 line-clamp-2 group-hover:text-background animation">
            {description}
        </p>
    </div>
  )}
  <div>
    <div class="mx-4 flex flex-wrap gap-6 opacity-80 group-hover:mb-0">
      <div class="flex gap-1 font-mono">
        <IconCalendarWeek
          class="stroke-foreground animation size-4 translate-y-0.25 stroke-1 group-hover:size-0"
        />
        <p class="animation text-sm group-hover:text-[0rem]">
          {date}
        </p>
      </div>
      <div class="flex gap-1 font-mono">
        <IconClockHour3
          class="stroke-foreground animation size-4 translate-y-0.5 stroke-1 group-hover:size-0"
        />
        <p class="animation text-sm group-hover:text-[0rem]">
          {readTime} min read
        </p>
      </div>
    </div>
    <div class="mx-3 flex flex-wrap">
      {
        tags.map((tag: string) => (
          <p class="ring-foreground bg-background animation rounded-lg px-0 py-0 text-[0rem] opacity-0 mx-0 group-hover:mx-1 group-hover:px-3 group-hover:pb-0.5 group-hover:text-sm group-hover:opacity-90">
            {tag}
          </p>
        ))
      }
    </div>
  </div>
</a>
