---
export interface Props {
  title: string;
  description: string;
  author: string;
  url: string;
  pubDate?: Date;
  isHome?: boolean;
}

import "@fontsource-variable/space-grotesk";
import "@fontsource/ibm-plex-mono";
import "@fontsource/bangers";
import "@fontsource/zcool-qingke-huangyou";
import "lxgw-wenkai-screen-web";
import Seo from "../components/Seo.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
const { title, description, author, url, pubDate, isHome = false } = Astro.props;
---

<!doctype html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Seo {title} {description} {author} {url} {pubDate} />
    <script is:inline>
      document.documentElement.classList.add("dark");
    </script>
  </head>
  <body class:list={["body-margin flex flex-col min-h-svh", isHome ? "home-geometry" : ""]}>
    <Header />
    <main class="main-margin relative z-1 flex-1">
      <slot />
    </main>
  </body>
</html>
